{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yorenov Cheats</title>
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
</head>
<body>
    <aside>
    </aside>
    <main>{% block content %}{% endblock content %}</main>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const videoFiles = [
            "/static/main/img/video1.mp4",
            "/static/main/img/video2.mp4",
            "/static/main/img/video3.mp4",
            "/static/main/img/video4.mp4",
            "/static/main/img/video5.mp4",
            "/static/main/img/video6.mp4",
        ];
        
        const randomIndex = Math.floor(Math.random() * videoFiles.length);
        const randomVideoFile = videoFiles[randomIndex];
        
        const videoElement = document.querySelector(".background-video video");
        const sourceElement = document.createElement("source");
        
        sourceElement.setAttribute("src", randomVideoFile);
        sourceElement.setAttribute("type", "video/mp4");
        
        videoElement.appendChild(sourceElement);
        videoElement.load();
    });
    
    function getRandomPosition(rectangle, size) {
        const edge = Math.floor(Math.random() * 4);
        const offset = size * 2;
    
        switch (edge) {
            case 0:
                return {
                    x: Math.floor(Math.random() * (rectangle.clientWidth - size)),
                    y: -offset,
                };
            case 1:
                return {
                    x: rectangle.clientWidth + offset,
                    y: Math.floor(Math.random() * (rectangle.clientHeight - size)),
                };
            case 2:
                return {
                    x: Math.floor(Math.random() * (rectangle.clientWidth - size)),
                    y: rectangle.clientHeight + offset,
                };
            case 3:
            default:
                return {
                    x: -offset,
                    y: Math.floor(Math.random() * (rectangle.clientHeight - size)),
                };
        }
    }
    
    function createRandomCircle(rectangleElement) {
        const rectangle = rectangleElement;
        const circle = document.createElement("div");
        const size = Math.floor(Math.random() * 100) + 10;
        const position = getRandomPosition(rectangle, size);
        const duration = 5 + Math.random() * 5;
        const finalPosition = getRandomPosition(rectangle, size);
        
        circle.style.width = `${size}px`;
        circle.style.height = `${size}px`;
        circle.style.left = `${position.x}px`;
        circle.style.top = `${position.y}px`;
        circle.style.backgroundColor = "rgba(255, 0, 255, 1)";
        circle.style.position = "absolute";
        circle.style.borderRadius = "50%";
        circle.style.filter = "blur(50px)";
        circle.style.zIndex = "-1";
        
        const animation = circle.animate(
            [
                { left: `${position.x}px`, top: `${position.y}px` },
                { left: `${finalPosition.x}px`, top: `${finalPosition.y}px` },
            ],
            {
                duration: duration * 1000,
                iterations: 1,
                easing: "linear",
            }
        );
        
        animation.onfinish = () => {
            circle.remove();
            createRandomCircle(rectangleElement);
        };
        
        rectangle.appendChild(circle);
    }
      
    function createRandomCircles(rectangleElement) {
        const numberOfCircles = Math.floor(Math.random() * 10) + 1;
        
        for (let i = 0; i < numberOfCircles; i++) {
            createRandomCircle(rectangleElement);
        }
    }
    
    const rectangleElement = document.querySelector(".rectangle");
    const spotifyPlayerElement = document.querySelector(".spotifyplayer");
    const rectangle2Element = document.querySelector(".rectangle-right");
        
    if (rectangleElement) createRandomCircles(rectangleElement);
    if (spotifyPlayerElement) createRandomCircles(spotifyPlayerElement);
    if (rectangle2Element) createRandomCircles(rectangle2Element);     
</script>
</body>
</html>